<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.imothee.TmpDiskHelper</key>
		<string>anchor apple generic and identifier com.imothee.TmpDiskHelper and certificate leaf[subject.OU] = AGZ3AP53DM</string>
	</dict>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://appable.xyz/updates/tmpdisk.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUPublicEDKey</key>
	<string>cHYVa9jmyIHtzvsj9w8WQ/L19rbBklLx75GNou5ipjw=</string>
	<key>TmpDiskHelperVersion</key>
	<string>5</string>
</dict>
</plist>
